<div class="container">
  <div class="container2">
    <div
      [class.colorblind-mode]="isColorblindModeActive"
      class="menu-container"
    >
      <div class="menu-frame">
        <button
          [class.colorblind-mode]="isColorblindModeActive"
          color="primary"
          (click)="onRoute2ButtonClick()"
        >
          Get Routes (Ex1)
        </button>
        <button
          [class.colorblind-mode]="isColorblindModeActive"
          color="primary"
          (click)="onRouteButtonClick()"
        >
          Get Routes (Ex2)
        </button>
        <button
          [class.colorblind-mode]="isColorblindModeActive"
          color="primary"
          (click)="onOptimizeButtonClick()"
          [disabled]="routes == undefined || routes.length === 0"
        >
          Optimize Routes
        </button>
        <button
          color="primary"
          [class.colorblind-mode]="isColorblindModeActive"
          (click)="toggleColorblind()"
        >
          Color Blind Mode
        </button>
      </div>
    </div>
    <div [class.colorblind-mode]="isColorblindModeActive" class="result-box">
      <label [style.color]="'black'"
        >Initial Routes Length: <b>{{ getCostSum() }}km</b></label
      >
      <br />
      <label [style.color]="'black'"
        >Optimized Routes Length: <b>{{ getOptimizedCostSum() }}km</b></label
      >
      <br />
      <label [style.color]="'black'"
        >Reduced By:
        <b
          ><label>{{ getCostDifference() }}km</label></b
        ></label
      >
      <br />
      <label [style.color]="'black'"
        >Estimated CO2 Saved: <b>{{ getCO2Emissions() }}kg</b></label
      >
    </div>
  </div>
  <div [class.colorblind-mode]="isColorblindModeActive" class="map-container">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    />
    <div class="map-frame">
      <div [class.colorblind-mode]="isColorblindModeActive" id="map"></div>
    </div>
  </div>
</div>
