/* Set the map container to be on the right side and the menu on the left side */
.container {
  display: flex;
  height: 100%;
}

.container2 {
  display: flex;
  flex-flow: column;
}

/* Set the menu container to take 250px width */
.menu-container {
  background-color: rgb(150, 255, 98);
  width: 250px;
  border: 2px solid black;
  padding: 10px;
  margin: 10px; /* Add some space between the menu and the map */
}

.map-container {
  background-color: rgb(150, 255, 98);
  flex: 1;
  border: 2px solid black;
  padding: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

/* Center the button horizontally in the menu and make it wider */
button {
  background-color: rgb(255, 204, 160);
  color: black;
  width: 100%;
  margin-bottom: 10px;
}

/* Optionally, add some space between the button and other elements in the menu */
button:not(:last-child) {
  margin-bottom: 10px;
}

.menu-container.colorblind-mode {
  background-color: #f0f0f0; /* Light gray background color */
}

.map-container.colorblind-mode {
  background-color: #f0f0f0; /* Light gray background color */
}

button.colorblind-mode {
  background-color: #f0f0f0;
}



.entry-container {
  max-width: 600px;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;
  text-align: center;
  background: #a2d6eb;
  border: 2px solid #70bbda;
}

.result-box {
  margin-top: auto;
}

/* CSS styles for the individual entry boxes */
.entry-box {
  width: 225px;
  height: 80px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin: 10px 0;
}
