<div class="container">
  <div class="container2">
    <div [class.colorblind-mode]="isColorblindModeActive" class="menu-container">
      <div class="menu-frame">
        <button [class.colorblind-mode]="isColorblindModeActive" color="primary" (click)="onRouteButtonClick()">
          Get Routes
        </button>
        <button
          [class.colorblind-mode]="isColorblindModeActive"
          color="primary"
          (click)="onOptimizeButtonClick()"
          [disabled]="routes == undefined || routes.length === 0"
        >
          Optimize Routes
        </button>
        <button
          color="primary"
          [class.colorblind-mode]="isColorblindModeActive"
          (click)="toggleColorblind()"
        >
          color blind mode
        </button>
      </div>
    </div>
    <div class="entry-container" *ngFor="let element of this.routes">
      {{element.costs}}
    </div>
  </div>
  <div [class.colorblind-mode]="isColorblindModeActive" class="map-container">
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
    />
    <div class="map-frame">
      <div [class.colorblind-mode]="isColorblindModeActive" id="map"></div>
    </div>
  </div>
</div>
