/* Set the map container to be on the right side and the menu on the left side */
.container {
  display: flex;
  height: 100%;
}

/* Set the menu container to take 250px width */
.menu-container {
  background-color: rgb(150, 255, 98);
  width: 250px;
  border: 2px solid black;
  padding: 10px;
  margin-right: 10px; /* Add some space between the menu and the map */
}

.map-container {
  background-color: rgb(150, 255, 98);
  flex: 1;
  border: 2px solid black;
  padding: 10px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100%;
}

/* Center the button horizontally in the menu and make it wider */
button {
  background-color: rgb(255, 204, 160);
  color: black;
  width: 100%;
  margin-bottom: 10px;
}

/* Optionally, add some space between the button and other elements in the menu */
button:not(:last-child) {
  margin-bottom: 10px;
}

.menu-container.colorblind-mode {
  background-color: #f0f0f0; /* Light gray background color */
}

.map-container.colorblind-mode {
  background-color: #f0f0f0; /* Light gray background color */
}

button.colorblind-mode {
  background-color: #f0f0f0;
}


